{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_7267cf55-e8bd-4183-b246-749012aa03a1 = section.settings['replo_text_7267cf55-e8bd-4183-b246-749012aa03a1'] -%}
    {%- capture default_replo_text_7267cf55-e8bd-4183-b246-749012aa03a1 -%}<p>REJUVIA VS. GUMMIES AND PILLS</p>{%- endcapture -%}
    {%- assign replo_text_7267cf55-e8bd-4183-b246-749012aa03a1 = replo_text_7267cf55-e8bd-4183-b246-749012aa03a1 | default: default_replo_text_7267cf55-e8bd-4183-b246-749012aa03a1 -%}
    "replo_text_7267cf55-e8bd-4183-b246-749012aa03a1": {{ replo_text_7267cf55-e8bd-4183-b246-749012aa03a1 | json }}, {%- assign replo_text_909a71b8-c271-4730-b797-b4dcb9b10f33 = section.settings['replo_text_909a71b8-c271-4730-b797-b4dcb9b10f33'] -%}
    {%- capture default_replo_text_909a71b8-c271-4730-b797-b4dcb9b10f33 -%}<p>Rejuvia vs. Gummies and Pills</p>{%- endcapture -%}
    {%- assign replo_text_909a71b8-c271-4730-b797-b4dcb9b10f33 = replo_text_909a71b8-c271-4730-b797-b4dcb9b10f33 | default: default_replo_text_909a71b8-c271-4730-b797-b4dcb9b10f33 -%}
    "replo_text_909a71b8-c271-4730-b797-b4dcb9b10f33": {{ replo_text_909a71b8-c271-4730-b797-b4dcb9b10f33 | json }}, {%- assign replo_text_68c1c16e-5de6-4e1e-a546-fd4b321308c6 = section.settings['replo_text_68c1c16e-5de6-4e1e-a546-fd4b321308c6'] -%}
    {%- capture default_replo_text_68c1c16e-5de6-4e1e-a546-fd4b321308c6 -%}<p>Rejuvia Spray</p>{%- endcapture -%}
    {%- assign replo_text_68c1c16e-5de6-4e1e-a546-fd4b321308c6 = replo_text_68c1c16e-5de6-4e1e-a546-fd4b321308c6 | default: default_replo_text_68c1c16e-5de6-4e1e-a546-fd4b321308c6 -%}
    "replo_text_68c1c16e-5de6-4e1e-a546-fd4b321308c6": {{ replo_text_68c1c16e-5de6-4e1e-a546-fd4b321308c6 | json }}, {%- assign replo_style_image_52ff56c2-0351-497b-8195-1c995389c325 = section.settings['replo_style_image_52ff56c2-0351-497b-8195-1c995389c325'] | image_url -%}
    {%- capture default_replo_style_image_52ff56c2-0351-497b-8195-1c995389c325 -%}https://cdn.shopify.com/s/files/1/0418/7085/2258/files/SleepSpray.png?v=1718655883{%- endcapture -%}
    {%- assign replo_style_image_52ff56c2-0351-497b-8195-1c995389c325 = replo_style_image_52ff56c2-0351-497b-8195-1c995389c325 | default: default_replo_style_image_52ff56c2-0351-497b-8195-1c995389c325 -%}
    "replo_style_image_52ff56c2-0351-497b-8195-1c995389c325": {{ replo_style_image_52ff56c2-0351-497b-8195-1c995389c325 | json }}, {%- assign replo_text_981579cd-02ca-485d-955e-87d899709080 = section.settings['replo_text_981579cd-02ca-485d-955e-87d899709080'] -%}
    {%- capture default_replo_text_981579cd-02ca-485d-955e-87d899709080 -%}<p>Gummies and Pills</p>{%- endcapture -%}
    {%- assign replo_text_981579cd-02ca-485d-955e-87d899709080 = replo_text_981579cd-02ca-485d-955e-87d899709080 | default: default_replo_text_981579cd-02ca-485d-955e-87d899709080 -%}
    "replo_text_981579cd-02ca-485d-955e-87d899709080": {{ replo_text_981579cd-02ca-485d-955e-87d899709080 | json }}, {%- assign replo_style_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 = section.settings['replo_style_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1'] | image_url -%}
    {%- capture default_replo_style_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 -%}https://cdn.shopify.com/s/files/1/0418/7085/2258/files/sleep_gummies.svg?v=1735219678{%- endcapture -%}
    {%- assign replo_style_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 = replo_style_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 | default: default_replo_style_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 -%}
    "replo_style_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1": {{ replo_style_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 | json }}, {%- assign replo_stylesm_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 = section.settings['replo_stylesm_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1'] | image_url -%}
    {%- capture default_replo_stylesm_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 -%}https://cdn.shopify.com/s/files/1/0418/7085/2258/files/sleep_gummies.svg?v=1735219678{%- endcapture -%}
    {%- assign replo_stylesm_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 = replo_stylesm_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 | default: default_replo_stylesm_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 -%}
    "replo_stylesm_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1": {{ replo_stylesm_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 | json }}, {%- assign replo_stylemd_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 = section.settings['replo_stylemd_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1'] | image_url -%}
    {%- capture default_replo_stylemd_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 -%}https://cdn.shopify.com/s/files/1/0418/7085/2258/files/sleep_gummies.svg?v=1735219678{%- endcapture -%}
    {%- assign replo_stylemd_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 = replo_stylemd_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 | default: default_replo_stylemd_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 -%}
    "replo_stylemd_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1": {{ replo_stylemd_image_cd308fbe-12ef-4a60-85c8-4b476b4a1df1 | json }}, {%- assign replo_text_5dd72fea-9609-48b5-9352-0139a87586db = section.settings['replo_text_5dd72fea-9609-48b5-9352-0139a87586db'] -%}
    {%- capture default_replo_text_5dd72fea-9609-48b5-9352-0139a87586db -%}<p>ABSORBS IN 10-15 MINUTES</p>{%- endcapture -%}
    {%- assign replo_text_5dd72fea-9609-48b5-9352-0139a87586db = replo_text_5dd72fea-9609-48b5-9352-0139a87586db | default: default_replo_text_5dd72fea-9609-48b5-9352-0139a87586db -%}
    "replo_text_5dd72fea-9609-48b5-9352-0139a87586db": {{ replo_text_5dd72fea-9609-48b5-9352-0139a87586db | json }}, {%- assign replo_text_a95634c3-dedb-40cd-8373-6d3a0ec1b35a = section.settings['replo_text_a95634c3-dedb-40cd-8373-6d3a0ec1b35a'] -%}
    {%- capture default_replo_text_a95634c3-dedb-40cd-8373-6d3a0ec1b35a -%}<p>FALL ASLEEP FASTER</p>{%- endcapture -%}
    {%- assign replo_text_a95634c3-dedb-40cd-8373-6d3a0ec1b35a = replo_text_a95634c3-dedb-40cd-8373-6d3a0ec1b35a | default: default_replo_text_a95634c3-dedb-40cd-8373-6d3a0ec1b35a -%}
    "replo_text_a95634c3-dedb-40cd-8373-6d3a0ec1b35a": {{ replo_text_a95634c3-dedb-40cd-8373-6d3a0ec1b35a | json }}, {%- assign replo_text_e5ea12c8-814a-4e65-bc98-184535f4afe2 = section.settings['replo_text_e5ea12c8-814a-4e65-bc98-184535f4afe2'] -%}
    {%- capture default_replo_text_e5ea12c8-814a-4e65-bc98-184535f4afe2 -%}<p>SLEEP THROUGH THE NIGHT</p>{%- endcapture -%}
    {%- assign replo_text_e5ea12c8-814a-4e65-bc98-184535f4afe2 = replo_text_e5ea12c8-814a-4e65-bc98-184535f4afe2 | default: default_replo_text_e5ea12c8-814a-4e65-bc98-184535f4afe2 -%}
    "replo_text_e5ea12c8-814a-4e65-bc98-184535f4afe2": {{ replo_text_e5ea12c8-814a-4e65-bc98-184535f4afe2 | json }}, {%- assign replo_text_ca90df6c-4574-45e2-9d12-a0dca3303a2d = section.settings['replo_text_ca90df6c-4574-45e2-9d12-a0dca3303a2d'] -%}
    {%- capture default_replo_text_ca90df6c-4574-45e2-9d12-a0dca3303a2d -%}<p>NO PRESCRIPTION NEEDED</p>{%- endcapture -%}
    {%- assign replo_text_ca90df6c-4574-45e2-9d12-a0dca3303a2d = replo_text_ca90df6c-4574-45e2-9d12-a0dca3303a2d | default: default_replo_text_ca90df6c-4574-45e2-9d12-a0dca3303a2d -%}
    "replo_text_ca90df6c-4574-45e2-9d12-a0dca3303a2d": {{ replo_text_ca90df6c-4574-45e2-9d12-a0dca3303a2d | json }}, {%- assign replo_text_c9d1aaf8-a514-4f94-b1c8-a6b59cc20e24 = section.settings['replo_text_c9d1aaf8-a514-4f94-b1c8-a6b59cc20e24'] -%}
    {%- capture default_replo_text_c9d1aaf8-a514-4f94-b1c8-a6b59cc20e24 -%}<p>NON-HABIT FORMING</p>{%- endcapture -%}
    {%- assign replo_text_c9d1aaf8-a514-4f94-b1c8-a6b59cc20e24 = replo_text_c9d1aaf8-a514-4f94-b1c8-a6b59cc20e24 | default: default_replo_text_c9d1aaf8-a514-4f94-b1c8-a6b59cc20e24 -%}
    "replo_text_c9d1aaf8-a514-4f94-b1c8-a6b59cc20e24": {{ replo_text_c9d1aaf8-a514-4f94-b1c8-a6b59cc20e24 | json }}, {%- assign replo_text_6c832ac4-a809-4b36-8525-93ecd571a2ef = section.settings['replo_text_6c832ac4-a809-4b36-8525-93ecd571a2ef'] -%}
    {%- capture default_replo_text_6c832ac4-a809-4b36-8525-93ecd571a2ef -%}<p>100% ALL-NATURAL</p>{%- endcapture -%}
    {%- assign replo_text_6c832ac4-a809-4b36-8525-93ecd571a2ef = replo_text_6c832ac4-a809-4b36-8525-93ecd571a2ef | default: default_replo_text_6c832ac4-a809-4b36-8525-93ecd571a2ef -%}
    "replo_text_6c832ac4-a809-4b36-8525-93ecd571a2ef": {{ replo_text_6c832ac4-a809-4b36-8525-93ecd571a2ef | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}