{{ 'article-new.css' | asset_url | stylesheet_tag }}

<div id="article">
  <article class="post clearfix">
    <div class="heading medium-down--direction-column align-items-start">
      <div class="bread-crumbs">
        <a href="{{ shop.url }}">
          Home
        </a>
        <span>/</span>
        <a href="{{ blog.url }}">
          Blog
        </a>
        <span>/</span>
        <span>{{- article.title -}}</span>
      </div>
      <div class="medium-down--one-whole">
        <div class="article-tags">
          {%- for tag in article.tags -%}
            <span class="article-tag">
              {{ tag }}
            </span>
          {%- endfor -%}
        </div>
        <h1 id="page-title" class="article-new__title custom_subtitle_font">{{ article.title }}</h1>
        <div class="author">
          <div class="article-new__author--box">
            <span class="article-new__author--name">
              {{ article.author }}
            </span>
            <div class="article-new__author--date-box">
              <span class="article-new__author--date">
                {{ article.published_at | date: "%d %b %Y" }}
              </span>
              {%- if article.metafields.custom.minutes_to_read != blank -%}
                <span class="article-new__author--time">
                  {{ article.metafields.custom.minutes_to_read }} mins read
                </span>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if article.image %}
      <img
        class="featured-image"
        fetchpirority="high"
        loading="eager"
        src="{{ article.image | img_url: '1296x' }}"
        alt="{{ article.title }}" />
    {% endif %}
    <div class="article-content__box">
      <div class="content">
        {{ article.content }}
        {%- if article.metafields.custom.author_info != blank -%}
          <div class="article-new__author--info-border">
            <div class="article-new__author--info">
              <h2 class="article-new__author--info-title">
                About the author
              </h2>
              <div class="article-new__author--info-box">
                <span>{{ article.author }}</span>
              </div>
              <div class="article-new__author--info-content">
                {{ article.metafields.custom.author_info | metafield_tag }}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
    {%- if blog.comments_enabled? -%}
      {%- include 'blog_comments' -%}
    {%- endif -%}
  </article>
</div>

{% schema %}
  {
    "name": "Article New",
    "presets": [
      {
        "name": "Article New",
        "category": "Blog"
      }
    ],
    "settings": [],
    "blocks": []
  }
{% endschema %}
