<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script> 
<style>
  .down-arrow {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #7e7676;
    border-right: 2px solid #7e7676;
    transform: rotate(45deg);
    margin: 0px 0px;position: relative;
    top: -2px;
}
  @media screen and (min-width: 767px){
    .mobiles{display:none!important}
  }

@media screen and (max-width: 767px){
     .dd-button{display: flex;    border: 2px solid lightgray;
    justify-content: space-between;padding: 10px 15px 10px 20px;
    line-height: normal;cursor: pointer;
    align-items: center;}
    .block-tabs{position:relative;    margin-bottom: 15px;}
    .tabs-blog{position:absolute;width:100%;z-index:1;background:#fff;border: 2px solid lightgray;display:none!important;}
    .active-drop .tabs-blog{top:0;display:block!important;}
    .exit{position:absolute;z-index:2;right:10px;top:5px;    cursor: pointer;}
    body .tabs-blog a.active,
    body .tabs-blog a{border:none!important;background:none!important;display:block;}
    body .tabs-blog{display:block;padding-top: 0;}
  }
  .blog {margin-top: 2em;}
  .articles-wrapper .article {position: relative; display: block; padding-left: 20px;}
  .isNotMobile .articles-wrapper .articles-wrapper > a:hover {color: #EAC78B;}
  .articles-wrapper .article hr {border: none; border-bottom: 1px solid {{settings.bg_color}}; margin: 20px 0;}
  .articles-wrapper .pic-wrapper {width: 100%; margin-bottom:2.5em; position: relative;}
  .articles-wrapper .pic-wrapper .img {width: 100%; height: 1px; padding-top: 70%; background-size: cover; background-position: center; background-repeat: no-repeat;}
  .articles-wrapper .text-wrapper {width: 100%; margin: 1.2em 0 0 0;}
  .articles-wrapper .text-wrapper .content {margin-bottom: 1.2em;} 
  .articles-wrapper .text-wrapper .content p {letter-spacing: normal;}
  .articles-wrapper .article-date {background-color: #fff; border: 4px solid {{settings.content_main_color}}; position: absolute; left: -20px;  top: 6em; text-transform: uppercase;  color: {{settings.content_main_color}};  width: 5em;  height: 5em; font-size: 1em;  text-align: center; display: flex; display: -webkit-flex; flex-wrap: wrap; justify-content: center; align-content: center;}
  .articles-wrapper .article-date span {display: block; width: 100%; position: relative; line-height: 100%;}
  .articles-wrapper .article-date span.day {font-size: 2em; margin-bottom: 2px;}
  .isNotMobile .articles-wrapper .article:hover .article-date {background-color: {{settings.content_main_color}}; color: #fff;}

  .articles-wrapper .article .text-wrapper .title {font-size: 1.3em; margin-bottom: 0.5em;}
  .articles-wrapper .article .text-wrapper .title:hover {color: #EAC78B;}
  .articles-wrapper .article:hover {color: #000000;}

  input[type='text'], input[type='email'], input[type='number'], input[type='search'], input[type='date'], input[type="tel"], input[type="phone"], input[type='password'] {border-radius: 10em; border: 2px solid; font-family: 'NexaRegular';}

  @media all and (max-width: {{settings.breakpoint_tablet}}){
    .blog {padding: 0em;}
    .articles-wrapper .text-wrapper .continue {display: block;} 
    .articles-wrapper .article .text-wrapper .title {font-size: 1em;}
  }

  @media all and (max-width: {{settings.breakpoint_mobile}}){
    .articles-wrapper .articles-wrapper {width: 100%; float: none;}
    .articles-wrapper .article-date {display: none;}
  }
.tabs-blog{display:flex;    justify-content: center;padding-top:15px;padding-bottom:15px;}
.tabs-blog a{  
    border: 2px solid lightgray;padding:10px 20px;text-transform: capitalize;    line-height: normal;font-size: 16px;
    border-left: 0;}
.tabs-blog a.active{
  border: 3px solid #3d7cc9 !important;
    background: #deeefe;
    margin-left: -2px;
}

.tabs-blog a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid lightgray;
}
.tabs-blog a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

</style>

<div class="blog">
  
  {%- paginate blog.articles by 9 -%}
    <div class="block-tabs">
    <div id="menu-trigger" class="dd-button blog-div mb5 mobiles">
      <a class="first-link"></a>
      <span class="down-arrow"></span>
    </div>
    <div class="tabs-blog">
    
      <a href="{{ blog.url }}">All Blogs</a>  <span class="exit mobiles">x</span>
      {%- for block in section.blocks -%}
         <a href="{{ blog.url }}/tagged/{{ block.settings.title | handle }}">{{ block.settings.title }}</a>
      {% endfor %}
    </div>
    </div>
  <script>
      $(document).ready(function(){
        $('.dd-button').click(function(){
          $('.block-tabs').addClass('active-drop');
        });
        $('.exit').click(function(){
          $('.block-tabs').removeClass('active-drop');
        });
       setTimeout(function(){
        $('.tabs-blog a').each(function(){
            $('.block-tabs').removeClass('active-drop');
          var Href = $(this).attr("href");
           var Text = $(this).html();
          var pathname = window.location.pathname;
          console.log(pathname);
          console.log(Href);
          if(pathname == Href){
             $(this).addClass('active');
            $('.first-link').html(Text);
            $('.block-tabs').removeClass('active-drop');
          }
        })
       }, 100);
      })
  </script>
  <div class="articles-wrapper template-list grid">

    {%- for article in blog.articles -%}
    {%- include 'blog_item' -%}
    {%- endfor -%}
  </div>
  {%- include 'pagination' -%}
  {%- endpaginate -%}
</div>

{% schema %}
  {
    "name": "Blog",
    "presets": [
      {
        "name": "Blog",
        "category": "Blog"
      }
    ],
    "settings": [
     
    ],
    "blocks": [
      
      {
        "type": "block",
        "name": "Items Tabs",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "tabs 1"
          }
        ]
      }
    ]
  }
{% endschema %}