<div class="shopify-section-{{ section.id }} cart-summary-offers">
    <div class="offers-header">
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.subtitle }}</p>
    </div>
    <div class="offers">
      <div class="offer flex small--flex-wrap">
       {% for block in section.blocks %}
            {% assign currentProduct = all_products[block.settings.product] %}
            <div class="display-container large--one-third medium--one-third small--one-whole flex direction-column align-items-center">
                <div class="image-container">
                    <img
                        class="lazyload"
                        src="{{ 'placeholder.png' | asset_url }}"
                        alt="{{ currentProduct.title }}"
                        data-sizes="auto"
                        data-srcset="{% include 'lazy_src', image: currentProduct.featured_image | img_url: 'medium' %}"/>
                </div>
                <h3>{{ currentProduct.title }}</h3>
                <button type="button" class="btn custom_button_font" data-product-id="{{ currentProduct.first_available_variant.id }}" >Add - {{ currentProduct.price | money }}</button>
            </div>
       {% endfor %}
      </div>
    </div>
</div>

<script>
    $(function () { // Insert this section after the cart items
        if ($('#cartform .items').length > 0) {
            let cartOffers = $('.shopify-section-{{ section.id }}')
            cartOffers.clone().appendTo($('#cartform .items').parent()).addClass('medium-down--hide')
            cartOffers.addClass('large--hide')
        }

        $('.cart-summary-offers .offers .offer .display-container button').click(function () {
            $('#loading-overlay').show();

            $.ajax({
                type: 'POST',
                url: '/cart/add.js',
                data: {
                    'quantity-subscription-select': 1,
                    'frequency-select': 4,
                    'purchase_type': 'onetime',
                    'id': $(this).data('product-id'),
                    'quantity': 1
                },
                dataType: 'json',
                error: addToCartFail,
                success: function(){
                    location.reload()
                    $('#loading-overlay').hide();
                },
                cache: false
            });
        })
    })
</script>

<style>
.shopify-section-{{ section.id }} h2 {
    font-family: "NexaHeavy" !important;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: .5em;
    position: relative;
}

.shopify-section-{{ section.id }} h2::after {
    content: '{{ section.settings.flag_text }}';
    position: absolute;
    background: #EAC78B;
    left: 100%;
    margin-left: 5px;
    font-size: .5em;
    min-width: 100px;
    padding: .5em;
    line-height: 1.5em;
    bottom: 0;
}

.shopify-section-{{ section.id }} h2::before {
    content: '';
    position: absolute;
    background: #fff;
    left: calc(100% + 109px);
    z-index: 8;
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    bottom: 0;
}

.shopify-section-{{ section.id }} p {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.shopify-section-{{ section.id }} img {
    max-width: 100%;
}

.shopify-section-{{ section.id }}.cart-summary-offers {
    margin-top: 2em;
}

.shopify-section-{{ section.id }} .offers-header {
    padding-bottom: .5em;
    border-bottom: 1px solid #000;
}

.shopify-section-{{ section.id }} .offers {
    padding: 1em 0;
}

.shopify-section-{{ section.id }} h3 {
    text-align: center;
    font-size: 1.2em;
}
.shopify-section-{{ section.id }} .offers .offer {
    padding: 1em;
}
.shopify-section-{{ section.id }} .offers .offer img {
    margin: 0 auto;
}

.shopify-section-{{ section.id }} .image-container {
    width: 100%;
    min-height: 75px;
    max-height: 75px;
    margin-bottom: .5em;
}
.shopify-section-{{ section.id }} .btn {
    max-width: 0%;
    padding: 0em;
    font-size: 0em;
    font-family: "NexaBold" !important;
    text-transform: none;
    letter-spacing: normal;
}

.shopify-section-{{ section.id }} .offers .offer .flex {
    margin-bottom: 2em;
}

@media all and (max-width: {{settings.breakpoint_mobile}}) {
    .offers {
        padding-bottom: 0;
    }

    #cart .summary {
        margin-top: 0;
    }

    .shopify-section-{{ section.id }} h2, .shopify-section-{{ section.id }} p {
        margin-left: 2em;
    }

    .shopify-section-{{ section.id }} .offers-header {
        padding: 0em 0em;
    }

    .shopify-section-{{ section.id }} h2 {
        max-width: 400px;
    }
}
</style>

{% schema %}
{
    "name": "Cart Offers",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Lorem Ipsum"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Lorem Ipsum"
        },
        {
            "type": "text",
            "id": "flag_text",
            "label": "Flag Text",
            "default": "Save 10%"
        }
    ],
    "blocks": [
        {
            "type": "product_item",
            "name": "Product Item",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product",
                    "info": "Product should have a discount (not mandatory)"
                }
            ]
        }
    ]
}
{% endschema %}