<style>
  #shopify-section-{{ section.id }} .testimonials {text-align: left; background: {{section.settings.section_bg}}; padding: {{section.settings.section_padding_desktop}};}
  .testimonials {text-align: left;}
  
  .testimonials .container {padding: 0 30px;}
  #shopify-section-{{ section.id }} .testimonials .title {font-size:2.3em; margin-bottom: 1em;}
  .testimonials .slick-slider .slick-track {padding: 3px 0;}
  .testimonials .slick-arrow {top: 45%; border: 0px solid white; border-radius: 50%; font-size: 3em; padding: 0.2em;}
  .testimonials .slick-arrow path {fill: #ffffff; stroke: white; stroke-width:2px;}
  .testimonials .left-arrow {left: 0.5em!important;}
  .testimonials .right-arrow {right: 0.5em!important;}

  /* Testimonial */
  #shopify-section-{{ section.id }} .testimonials .testimonial {border: 3px solid #000;}
  /*#shopify-section-{{ section.id }} .testimonials .testimonial .top-section {min-height: 12em; padding:1em;}*/
  #shopify-section-{{ section.id }} .testimonials .testimonial .bottom-section {background-color: #000; color: #ffffff; padding: 0em;}
  #shopify-section-{{ section.id }} .testimonials .testimonial .bottom-section p {font-size:1.35em; margin-bottom: 0em;}
  #shopify-section-{{ section.id }} .testimonials .star-rating {padding: 0;}
  #shopify-section-{{ section.id }} .testimonials .star-rating i {color: #ffffff; font-size: 1.35em;}

  @media all and (max-width: {{settings.breakpoint_tablet}}){
    .testimonials h2 {padding-left: 20px; padding-right: 20px;}
    .testimonials .container {padding: 0;}
    #shopify-section-{{ section.id }} .testimonials .testimonial .top-section { min-height: 15em; }
    #shopify-section-{{ section.id }} .testimonials .testimonial .top-section p, #shopify-section-{{ section.id }} .testimonials .testimonial .bottom-section p, #shopify-section-{{ section.id }} .testimonials .star-rating i {font-size: 1.2em;}
  }
  @media all and (max-width: {{settings.breakpoint_mobile}}){
   #shopify-section-{{ section.id }} .testimonials {padding: {{section.settings.section_padding_mobile}};}
   .testimonials .left-arrow {left: 0.5em!important;}
   .testimonials .right-arrow {right: 0.5em!important;}
  }

  @media all and (max-width: 350px){
  	#shopify-section-{{ section.id }} .testimonials .testimonial .top-section { min-height: 20em; }
  }
</style>

<section class="testimonials">
  <div class="">
    {%- if section.settings.title != "" -%}
    	<h2 class="text-center title" style="display:none">{{section.settings.title}}</h2>
    {%- endif -%}
    <div class="product-carousel slick-pending">
      {%- for block in section.blocks -%}
      <div class="block--{{block.id}} testimonial">
        <div class="bottom-section text-center">
      		
      		{%- if block.settings.rating != 'none' -%}
            <div class="star-rating" style="letter-spacing: 5px;">
              {%- assign rating = block.settings.rating | plus: 0 -%}
              {%- for i in (1..rating) -%}
                ★
              {%- endfor -%}
            </div>
            {%- endif -%}
      	</div>
      	<div class="top-section text-center">
      		<blockquote style="color:white;font-size: 18px;line-height: 1.77778;font-weight: 400; font-style: italic;">“{{block.settings.testimonial}}”</blockquote>
            <p>— <span style="color:white;font-weight: 500; font-style: normal; font-size: 14px;line-height: 1.5; text-transform: uppercase;  margin-top: 0;">— {{block.settings.author}} </span></p>
          <div style="color:#8a8a8a">          
            Verified Customer
          </div>
      	</div>
      	
      </div>
      {%- endfor -%}
    </div>
  </div>
</section>

<script>
  $(function(){
    $('#shopify-section-{{ section.id }} .testimonials .product-carousel').slick({
      autoplay: {{section.settings.autoplay}},
      speed: 700,
      slidesToShow: 4,
      slidesToScroll: 1,
      centerMode: true,
      centerPadding: '120px',
      prevArrow: '{% include 'icons', icon: 'arrow-left' %}',
      nextArrow: '{% include 'icons', icon: 'arrow-right' %}',
      responsive: [
      	{
          breakpoint: 1655,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            centerMode: true,
            centerPadding: '15%'
          }
        },
        {
          breakpoint: 900,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: true,
            centerPadding: '10%'
          }
        }
      ]
    });
  });
</script>

{% schema %}
  {
    "name": "Reviews",
    "settings": [
	  {
        "type": "color",
        "id": "section_bg",
        "label": "Background Color",
        "default": "#000"
      },
	  {
        "type": "text",
        "id": "section_padding_desktop",
        "label": "Section Padding (Desktop)",
        "default": "0em 0"
      },
      {
        "type": "text",
        "id": "section_padding_mobile",
        "label": "Section Padding (Mobile)",
        "default": "2em 0"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Reviews"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Enable Autoplay",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "select",
            "id": "rating",
            "label": "Star Rating",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              },
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "5",
                "label": "5"
              }
            ],
            "default": "5"
          },
          {
            "type": "textarea",
            "id": "testimonial",
            "label": "Description",
        	"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
          {
            "type": "textarea",
            "id": "author",
            "label": "Author",
        	"default": "Lorem Ipsum"
          }          
        ]
      }
  	],
      "presets": [
      {
        "name": "Custom reviews",
        "category": "Home"
      }
    ]
  }
{% endschema %}