<style>
 .section-custom-html{ background:{{section.settings.bg_color}} }
  .section-custom-html .sub-heading{font-weight:300;font-size:40px;}
  .section-custom-html .heading{font-size:22px;font-weight:600;    margin-bottom: 30px;}
  .section-custom-html{
    padding-top:60px;padding-bottom:70px;
    text-align:center;
}
  @media only screen and (min-width: 749px) {
  .mobiles{display:none!important}
}
@media only screen and (max-width: 749px) {
  body .section-custom-html .sub-heading{font-size:30px;line-height:1;}
  body .section-custom-html .heading{font-size:20px;}
}
</style>

<section class="section-custom-html" >
  <div class="container"> 
      {% if section.settings.heading != blank %}
        <div class="heading" style="color:{{ section.settings.title_color }}">{{ section.settings.heading }}</div>
        {% endif %}
        {% if section.settings.subheading != blank %}
        <div class="sub-heading" style="color:{{ section.settings.text_color }}">{{ section.settings.subheading }}</div>
        {% endif %}
       
  </div>
</section>
{% schema %}
  {
    "name": "Faqs",
    "settings": [
	  {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Faqs Title"
      },{
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "Sub Heading"
      },
      {
      	"type": "color",
      	"id": "bg_color",
      	"label": "Background Color",
      	"default": "#000000"
      },
      {
      	"type": "color",
      	"id": "title_color",
      	"label": "Title Color",
      	"default": "#000000"
      },
      {
      	"type": "color",
      	"id": "text_color",
      	"label": "Text Color",
      	"default": "#000000"
      }
	],
	
      "presets": [
      {
        "name": "Custom Html",
        "category": "Text"
      }
    ]
  }
{% endschema %}
