{{ 'featured-customer-reviews.css' | asset_url | stylesheet_tag }}

<!-- Required Core Stylesheet -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
  onload="this.media='all'"
>

<div class="featured-customer-reviews-container">
  <div class="container-slider-reviews">
    <div style="min-width: 333px;">
        <div style="margin-bottom: 16px; display: flex; align-items: flex-end; gap: 8px;">{% render 'five-stars-icon' %} <span style="font-size: 18px;">3,193+ 5-Star Reviews</span></div>
        <h2 class="section-title">
            {{ section.settings.hero_heading }}
        </h2>
    </div>
    <div id="glide-customer-reviews" class="glide">
        <div class="slides-customer-reviews" role="list" aria-label="Customer reviews">
          {% for item in section.blocks %}
            <div class="glide__slide" role="listitem">
              <div class="customer-review_item">
                <p class="review-content">{{ item.settings.text }}</p>
                <div class="review-info-container">
                    {% if item.settings.image %}
                        <div class="review-image-author">
                          {{ item.settings.image |  image_url: width: 60 |  image_tag }}
                        </div>
                    {% endif %}
                    <div>
                        <p class="review-item-name">{{ item.settings.name }}</p>
                        <p class="review-verified">Verified Customer</p>
                    </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<" aria-label="Previous review">{% render 'arrow-circle-left' %}</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="Next review">{% render 'arrow-circle-right' %}</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.slides-customer-reviews').slick({
      prevArrow: $(".glide__arrow--left"),
      nextArrow: $(".glide__arrow--right"),
    });
  });
</script>
{% schema %}
{
  "name": "Featured Customer Reviews",
  "tag": "section",
  "class": "featured-customer-reviews-section",
  "settings": [
    {
      "type": "text",
      "id": "hero_heading",
      "label": "Heading",
      "default": "“Just a few sprays, to make the insomnia go away.”"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Review"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Use square-shaped images to obtain a centered view of the image"
        },
        {
            "type": "text",
            "id": "name",
            "label": "Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Customer Reviews"
    }
  ]
}
{% endschema %}
