<picture class="hero-image">
	<img
		src="{{ section.settings.hero_image_desktop | img_url: '1200x' }}"
		alt="{{ section.settings.hero_image_alt }}"
		class="hero-image-desktop"
		height="{{ section.settings.hero_image_desktop.height }}"
		width="{{ section.settings.hero_image_desktop.width }}"
	/>
	<img
		src="{{ section.settings.hero_image_mobile | img_url: '500x' }}"
		alt="{{ section.settings.hero_image_alt }}"
		class="hero-image-mobile"
		height="{{ section.settings.hero_image_mobile.height }}"
		width="{{ section.settings.hero_image_mobile.width }}"
	/>
</picture>
<div class="hero-image-text">
	{{ section.settings.hero_image_text }}
</div>

<style>
	.hero-image-section {
		position: relative;
	}
	picture.hero-image {
		width: 100vw;
		display: block;
	}
	picture.hero-image img {
		width: 100%;
		height: auto;
	}
	.hero-image-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 85%;
	}
	.hero-image-text > * {
		color: #fff;
	}
	.hero-image-desktop { display: none; 	}
	.hero-image-mobile 	{ display: block; }

	@media (min-width: 500px) {
		.hero-image-desktop { display: block; 	}
		.hero-image-mobile 	{ display: none; }
		.hero-image-text { width: 55%; }
	}
</style>


{% schema %}
{
	"name": "Hero Image",
	"class": "hero-image-section",
	"settings": [
		{
			"type": "image_picker",
			"id": "hero_image_desktop",
			"label": "Hero Image (Desktop)"
		},
		{
			"type": "image_picker",
			"id": "hero_image_mobile",
			"label": "Hero Image (Mobile)"
		},
		{
			"type": "text",
			"id": "hero_image_alt",
			"label": "Alt Text"
		},
		{
			"type": "richtext",
			"id": "hero_image_text",
			"label": "Text Overlay"
		}
	],
	"presets": [{ "name": "Hero Image"}]
}
{% endschema %}
