{{ 'sections-features.css' | asset_url | stylesheet_tag }}

<div class="product_features_container">
  <div class="inner_container">
    <div class="product_image_container">
      {% if section.settings.image %}
        {{ section.settings.image | image_url: width: 700 | image_tag }}
      {% endif %}
    </div>
    <div class="pd_info-container">
      <h2 class="section-title--h1">
        {{ section.settings.heading }}
      </h2>
      <p>
        {{ section.settings.text }}
      </p>
      <div class="features_icons">
        {% for item in section.blocks %}
          <div>
            <div>{{ item.settings.icon | image_url: width: 80 | image_tag }}</div>
            <div>{{ item.settings.description }}</div>
          </div>
        {% endfor %}
      </div>
      <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Features",
  "tag": "section",
  "class": "product-features",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Features"
    }
  ]
}
{% endschema %}
