<div class="section-product index-section{% if section.settings.alt %} index-section--alt{% endif %} section-{{ section.id }}">

  <div class="container" >
    {%- if section.settings.title != blank -%}
      <header class="section-header" >
        <h2 class="section-header__title appear-delay">
          {{ section.settings.title }}
        </h2>
        <div class="sub-title">{{section.settings.sub_title}}</div>
      </header>
    {%- endif -%}

    <div class="grid-full ">
      {%- for block in section.blocks -%}
       {%- assign product_item = block.settings.featured_product -%}
       {%- assign product = all_products[product_item] -%}
        {% render 'product_item4' forloop: forloop.index, button_color:block.settings.button_color, product: product,  Lable: block.settings.Lable, short_description: block.settings.short_description, customButton: block.settings.customButton %}

      {%- endfor -%}
    </div>
  </div>

</div>
<style>
  body .smartrr-selling-plan-group-name{
        justify-content: start;
    gap: 15px;
  }
  .tooltip{display:none!important}
    .smartrr-selling-plan-group-name .label_price{ width: 65%; text-align: left;}
   .smartrr-selling-plan-group-name .label_price span:last-child{background-color: {{settings.content_main_color}}; padding: 2px;}
  .section-{{ section.id }} .subheading{padding-bottom:20px;}
  .section-{{ section.id }} .custom-prices .old-price{color:{{section.settings.Color}}; font-style:{{section.settings.fontStyle}} }
  
</style>

<style>
  .section-product .container {text-align:center;padding-bottom:50px;}
.section-product .items-wapper {
  display:block;
  flex-direction:row;
  gap:30px;
}
.section-product .product-item1 {
  max-width:100%;
  width:100%;margin-bottom: 30px;
}
    @media (max-width: 768px) {
      body .section-product .product-item .title {
    font-size: 25px;
}
    body .section-product .subheading p{    font-size: 13px;
    line-height: 1.5;}
    }
  @media (min-width: 768px) {
    .section-product .items-wapper {
  display:flex;
    }
.section-product .items-wapper .image-wrapper {width:50%}
.section-product .items-wapper .offerInner_6dAby {width:50%}
  }
.section-product .title {
  font-size:32px;
  padding-bottom:20px;
}
.section-product .subheading p {text-align:left;font-size:16px;}
.section-product .add-to-cart-form .btn {
  width:100%;margin-bottom:15px;
  border-radius:5px;
  padding:20px;
}
</style>

{% schema %}
  {
    "name": "Section Product",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Shop All Rejuvia Products"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Heading",
        "default": "Better sleep and less stress are now just a few sprays away."
      },
      {
        "type": "header",
        "content": "Settings Custom Price"
      },
      {
        "type": "color",
        "id": "Color",
        "label": "Color",
        "default": "#000"
      },
      {
      	"type": "select",
      	"id": "fontStyle",
      	"label": "Font Style",
      	"options": [
      		{"value": "normal", "label": "Normal"},
      		{"value": "italic", "label": "Italic"},
      		{"value": "bold", "label": "Bold"}
      	],
      	"default": "normal"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "text",
            "id": "Lable",
            "label": "Title"
          },
          {
            "type": "product",
            "id": "featured_product",
            "label": "Product"
          },
          {
            "type": "richtext",
            "id": "short_description",
            "label": "Short Description"
          },
          {
            "type": "text",
            "id": "customButton",
            "label": "Text Button"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button Color"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Section Product",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}
